/* General */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

h1,h2,h3,h4,h5,h6,a,p {
    margin: 0;
}

.titlestyle {
    color: #004AAD;
    font-family: "Ephesis", cursive;
    font-weight: 100;
    font-style: normal;
    text-align: center;
}
.textstyle {
    color: black;
    font-family: "montserrat";
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: rgba(197, 227, 255, 0.089);
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
    font-weight: bold;
}

form input, form select, form button {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #6c757d;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #5a6268;
}

#language-select {
   
}

.language-select-img {

}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

/* Header */

header {
    background: #004AAD;
    color: white;
    padding: 0.1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0.2rem;
}

footer {
    text-align: center;
    padding: 10px;
    background: rgba(100, 180, 255, 0.238);
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: "montserrat";
    font-size: 2vw;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Title Section */
#titlesection {
}

#titlesection .titlestyle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.2;
    text-align: center;
    white-space: nowrap;
    font-size: 9vw;
}

#titlesection .textstyle{
    font-size: 4vw;
}

/* Section */

section {
    background: #c3e5ff3c;
    border-radius: 2vw;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.475);
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 0%;
    padding-bottom: 1%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    box-sizing: border-box;
}

section .titlestyle {
    font-size: 5vw;
}

section .textstyle {
    font-size: 2vw;
    margin-bottom: 5px;
}

select:focus {
    outline: none;
    border-color: #6c757d;
}

.section-images {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.section-images img {
    height: 19vw;
    width: auto;
    border-radius: 2vw;
    box-sizing: border-box;
    object-fit: contain;
}

/* Timeline */

.timeline {
    position: relative;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 1vw;
    background-color: #004AAD;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 50%;
}

.left_container {
    padding: 1vw;
    position: relative;
    display: inline-block;
    font-family: "montserrat";
    font-size: 3vw;
    background-color: white;
    border-radius: 2vw;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 47%;
    transform: translateX(-100%);
    z-index: 1;
    text-align: center;
    white-space: pre-wrap;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.right_container {
    padding: 1vw;
    position: relative;
    display: inline-block;
    font-family: "montserrat";
    font-size: 3vw;
    background-color: white;
    border-radius: 2vw;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 54%;
    z-index: 1;
    text-align: center;
    white-space: pre-wrap;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Arrow */
.left_container::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(100%, -50%);
    border-left: 1vw solid white;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
}

/* Arrow */
.right_container::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-100%, -50%);
    border-right: 1vw solid white;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
}

/* Circle*/

.left_container::after {
    content: '';
    position: absolute;
    width: 3vw;
    height: 3vw;
    background-color: white;
    border: 0.5vw solid #004AAD;
    top: 50%;
    right: -1.7vw;
    transform: translate(100%, -50%);
    border-radius: 50%;
    z-index: 1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.right_container::after {
    content: '';
    position: absolute;
    width: 3vw;
    height: 3vw;
    background-color: white;
    border: 0.5vw solid #004AAD;
    top: 50%;
    left: -1.7vw;
    transform: translate(-100%, -50%);
    border-radius: 50%;
    z-index: 1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}