/* General */
html, body, h1,h2,h3,h4,h5,h6,a,p {
    margin: 0;
    padding: 0;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
    border-radius: 3vw;
}

/* Text Styles */
.titlestyle {
    color: #004AAD;
    font-family: "Ephesis", cursive;
    font-weight: 100;
    font-style: normal;
    text-align: center;
    font-size: 5vw;
    line-height: 1;
    margin: 1vw;
}
.subtitlestyle {
    color: black;
    font-family: "montserrat";
    font-weight: 700;
    font-style: normal;
    text-align: center;
    font-size: 2vw;
    line-height: 1;
    margin: 1vw;
}
.textstyle {
    color: black;
    font-family: "montserrat";
    font-weight: 300;
    font-style: normal;
    text-align: center;
    font-size: 1.5vw;
    line-height: 1.2;
    margin: 1vw;
}

/* Header */
header {
    background: #004AAD;
    color: white;
    padding: 1vw;
    text-align: center;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0.2rem;
}
nav ul li {
    display: inline;
    margin: 0 10px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: "montserrat";
    font-size: 2vw;
}
nav ul li a:hover {
    text-decoration: underline;
}

/* Title Section */
#titlesection {
    text-align: center;
    margin: 0 2vw;
}
#titlesection .titlestyle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    font-size: 9vw;
}
#titlesection .textstyle{
    font-size: 4vw;
}

/* Sections */
section {
    background: #c3e5ff3c;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.475);
    padding: 1vw 2vw 2vw 2vw;
    margin: 3vw;
    box-sizing: border-box;
}

/* Section 1 */
#img1, #img2, #img3, #map1 {
    display: inline-block;
    object-fit: cover;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}
#sub1, #sub2, #sub3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0;
    position: relative;
    overflow: auto;
    box-sizing: border-box;
    gap: 2vw;
}
#sub1 {
    flex-direction: row;
    width: 100%;
    height: 33vw;
}

#map1 {
    flex: 1;
    height: 100%;
}
#sub2 {
    flex: 1;
    height: 100%;
    flex-direction: column;
}
#img1 {
    flex: 1;
    width: 100%;
}
#sub3 {
    flex: 1;
    width: 100%;
    flex-direction: row;
}
#img2{
    flex: 1;
    height: 100%;
}
#img3{
    flex: 2;
    height: 100%;
}

/* Section 2: Timeline */
.timeline {
    position: relative;
    margin: 1vw;
    font-size: 0;
}
.timeline::after {
    content: '';
    position: absolute;
    width: 1vw;
    background-color: #004AAD;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 50%;
}

/* Container */
.left_container, .right_container {
    display: inline;
    position: relative;
    padding: 1vw;
    background-color: white;
    margin-top: 0;
    margin-bottom: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: inline-block;
    font-size: 2vw;
    z-index: 1;
    text-align: center;
    white-space: pre-wrap;
}
.left_container {
    margin-left: 47%;
    transform: translateX(-100%);
}
.right_container {
    margin-left: 54%;
}

/* Arrow */
.left_container::before, .right_container::before{
    content: '';
    position: absolute;
    top: 50%;
    border-top: 0.5em solid transparent;
    border-bottom: 0.5em solid transparent;
}
.left_container::before {
    transform: translate(100%, -50%);
    right: 0.5vw;
    border-left: 1.5vw solid white;
}
.right_container::before {
    transform: translate(-100%, -50%); 
    left: 0.5vw;
    border-right: 1.5vw solid white;
}

/* Circle */
.left_container::after, .right_container::after {
    content: '';
    position: absolute;
    width: 3vw;
    height: 3vw;
    background-color: white;
    border: 0.5vw solid #004AAD;
    top: 50%;
    border-radius: 50%;
    z-index: 1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.left_container::after {
    right: -1.55vw;
    transform: translate(100%, -50%);
}
.right_container::after {
    left: -1.55vw;
    transform: translate(-100%, -50%);
}

/* Section 3 */
#sub4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 0;
    height: 25vw;
    gap: 2vw;
}
#img4 {
    display: inline-block;
    height: 100%;
    flex: 2;
    box-sizing: border-box;
    object-fit: cover;
    position: relative;
    overflow: hidden;
}
#button1 {
    height: 100%;
    flex: 1;
    box-sizing: border-box;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-image: url('img/img5.jpg');
    cursor: pointer;
    justify-content: center;
    align-items: center;
    position: relative;
    border: none;
    color: white;
    font-family: "montserrat";
    font-weight: 700;
    font-style: normal;
    text-align: center;
    font-size: 4vw;
    line-height: 1;
}
#button1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 0;
}
#button1:hover::before {
    background-color: rgba(0, 0, 0, 0.2);
}
#button1:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}
#button1 span {
    position: relative;
    z-index: 1;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background: rgba(100, 180, 255, 0.238);
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
footer a:hover {
    text-decoration: underline;
}

/* Smartphones */
@media (max-width: 768px){
    *, *::before, *::after {
        box-sizing: inherit;
        border-radius: 5vw;
    }
    .titlestyle {
        font-size: 10vw;
    }
    .subtitlestyle {
        font-size: 4vw;
    }
    .textstyle {
        font-size: 3vw;
    }
    #titlesection .titlestyle{
        white-space: pre-line;
        font-size: 16vw;
    }
    #titlesection .textstyle{
        font-size: 6vw;
    }
    #sub1 {
        flex-direction: column;
        height: 100vw;
    }
    #sub2 {
        width: 100%;
        height: auto;
    }
    #map1 {
        width: 100%;
        height: 50vw;
    }
    #sub4 {
        flex-direction: column;
        height: 70vw;
        width: auto;
    }
    #img4 {
        flex: 1;
        width: 100%;
        height: auto;
        box-sizing: border-box;
        object-fit: cover;
    }
    #button1 {
        flex: 1;
        width: 100%;
        box-sizing: border-box;
        object-fit: cover;
        background-size: cover;
        background-position: center;
        background-image: url('img/img5.jpg');
        cursor: pointer;
        justify-content: center;
        align-items: center;
        position: relative;
        border: none;
        color: white;
        font-family: "montserrat";
        font-weight: 700;
        font-style: normal;
        text-align: center;
        font-size: 5vw;
        line-height: 1;
    }
}

/* Images
.section-images {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.section-images img {
    height: 10vw;
    width: auto;
    border-radius: 2vw;
    box-sizing: border-box;
    object-fit: contain;
}
*/